<ng-container *ngFor="let question of questions">
    <ng-container [ngSwitch]="question.type">
        <app-radio-group
            *ngSwitchCase="'MULTIPLE_CHOICE'"
            required
            [hasError]="displayError && question.answer === undefined"
            [label]="question.baseQuestion"
            [options]="question.options"
            [(selection)]="question.answer"
            [radioGroupID] = "'MC' + question._id"
            [disabled]="_disabled"
        ></app-radio-group>
        <app-input
            *ngSwitchCase="'FREE_RESPONSE'"
            required
            [hasError]="displayError && (!question.answer || question.answer.length === 0)"
            [label]="question.baseQuestion"
            [(entry)]="question.answer"
            placeholder="Enter your response"
            [disabled]="_disabled"
        ></app-input>
        <app-radio-button-group
            *ngSwitchCase="'RANKING'"
            required
            [hasError]="displayError && question.answer === undefined"
            [label]="question.baseQuestion"
            [options]="[0,1,2,3,4,5]"
            [(selection)]="question.answer"
            [radioButtonGroupID]="'RK' + question._id"
            [disabled]="_disabled"
        ></app-radio-button-group>
    </ng-container>
</ng-container>
