<app-brand-band type="medium"></app-brand-band>
<h1 class="header slds-text-heading_large">
  Georgia Tech<br>Online Survey System
</h1>
<div class="navBackground">
  <app-global-navigation
    name="OpenEval"
    buttonText="Login"
    [callback]="displayLogin"
    [tabs]="tabs"
    (activeTab)="activeTab = $event"
  ></app-global-navigation>
</div>

<h1 class="slds-text-heading_large slds-p-around_medium">
  <strong>Welcome to the Georgia Tech Course Evaluation System.</strong>
  <br> Please log in using your GT credentials to gain access.
</h1>

<section *ngIf="!showLogin">
  <article class="slds-card slds-m-bottom_xx-large center">
    <div class="slds-card__body slds-card__body_inner">
      <iframe class="videoPlayer" width="100%" height="480" src="https://www.youtube.com/embed/6vRlt0Rjf0A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </article>
</section>

<app-card
  *ngIf="showLogin"
  title="Login"
  icon="user"
  class="slds-m-bottom_xx-large center">
  <div body class="slds-p-around_medium">
    <app-input
      [(entry)]="username"
      label="Username"
      placeholder="Enter Username"
    ></app-input>
    <app-input
      [(entry)]="password"
      label="Password"
      type="password"
      placeholder="Enter Password"
    ></app-input>
      <ul class="slds-m-vertical_small slds-button-group-row">
        <li class="slds-button-group-item">
          <app-button
            content="Login"
            type="success"
            (click)="login()"
          ></app-button>
        </li>
        <li class="slds-button-group-item">
          <app-button
            content="Cancel"
            type="destructive"
            (click)="cancel()"
          ></app-button>
        </li>
      </ul>
  </div>
</app-card>

<!-- Spinner -->
<div *ngIf="loading" class="demo-only" style="height:6rem">
  <div class="slds-spinner_container">
    <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
      <span class="slds-assistive-text">Loading</span>
      <div class="slds-spinner__dot-a"></div>
      <div class="slds-spinner__dot-b"></div>
    </div>
  </div>
</div>