<div
  class="slds-form-element slds-m-vertical_small"
  [ngClass]="{'slds-has-error': req && hasError}"
  >
  <label
    *ngIf="label"
    class="slds-form-element__label"
    [title]="label"
    >
    <abbr
    *ngIf="req"
    class="slds-required"
    title="Required"
    >* </abbr>
    <strong>{{ label }}</strong>
  </label>
  <div class="slds-form-element__control">
    <div class="slds-combobox_container slds-size_small">
      <div
        class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click"
        [ngClass]="{'slds-is-open': isOpen}"
        role="combobox"
        >
        <div
          class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
          role="none"
          >
          <input
            type="text"
            class="slds-input slds-combobox__input slds-combobox__input-value"
            autoComplete="off"
            readonly=""
            role="textbox"
            [disabled]="dis"
            [value]="selection ? selection['name'] : ''"
            [placeholder]="placeholder"
            (click)="toggleDropdown()"/>
          <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="req && hasError"
    class="slds-form-element__help"
    title="This field is required"
    >This field is required
  </div>
</div>
